# ---------------------------------------------
# OS 固有ファイル
# ---------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# ---------------------------------------------
# エディタ / IDE / ツール固有の設定ファイル
# ---------------------------------------------
# Visual Studio Code
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml

# Vim
*.swp
*.swo
*.swn
*.swp
*.swo

# ---------------------------------------------
# ログ & デバッグファイル
# ---------------------------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------------------
# Node.js / JavaScript 関連
# ---------------------------------------------
node_modules/
package-lock.json
yarn.lock

# ビルドやバンドルで生成されるファイル/フォルダ
dist/
build/
out/

# Next.js などフレームワークのビルド成果物
.next/

# ---------------------------------------------
# GitHub Pages (Jekyll) のビルド成果物
# ---------------------------------------------
_site/
.sass-cache/

# ---------------------------------------------
# 環境変数 & 秘密情報
# ---------------------------------------------
.env
.env.*

